text {
    font-size: 0.75rem;
    // cursor: pointer;
    fill: var(--color-primary-normal, "#0057ff");
}

path {
    cursor: pointer;
    // fill: var(--color-grey-light, "#dfe2e4");
    fill: var(--color-primary-normal, "#0057ff");
}
.temporal {
    fill: var(--color-grey-light, "#dfe2e4");
}

rect {
    stroke: var(--color-grey-dark, "#617079");
    // stroke-width: "1px";
}
