@import "imports";

$uncheckableColor: #ffd2d2; // var(--color-msg-danger-light, #ffd2d2);

.calendar {
    fill: var(--color-grey-light, "#dfe2e4");
    .day {
        cursor: pointer;
        rect {
            fill: transparent;
        }
    }
    .curr-month {
        fill: var(--color-black, "#1d2b37");
    }
    .today {
        text {
            fill: var(--color-primary-normal, "#0057ff");
        }
        circle {
            fill: var(--color-primary-light, "#e2eeff");
        }
    }
    .isInRange {
        text {
            fill: var(--color-msg-success-normal, "#51D46E");
        }
    }
    .uncheckable {
        cursor: not-allowed;
        pointer-events: none;
        rect {
            fill: lighten(#ffd2d2, 7%);
        }
    }
}

rect {
    fill: transparent;
    stroke: var(--color-grey-dark, "#617079");
    stroke-width: 0.5px;
}
