@import "imports";

$uncheckableColor: #ffd2d2; // var(--color-msg-danger-light, #ffd2d2);

.calendar {
    fill: var(--color-grey-light, "#dfe2e4");
    .day {
        cursor: pointer;
    }
    .curr-month {
        fill: var(--color-black, "#1d2b37");
    }
    .today {
        text {
            fill: var(--color-primary-normal, "#0057ff");
        }
        circle {
            fill: var(--color-primary-light, "#e2eeff");
        }
    }
    .isInRange {
        text {
            fill: var(--color-msg-success-normal, "#51D46E");
        }
    }
    .uncheckable, .unclickable {
        cursor: not-allowed;
        pointer-events: none;
        // rect {
        //     fill: lighten(#ffd2d2, 7%);
        // }
    }
    .boundary {
        circle {
            fill: var(--color-msg-success-normal, "#51d46e");
        }
        text {
            fill: var(--color-msg-success-light, "#d1f4d9");
        }
    }
}
rect.border {
    stroke: var(--color-grey-dark, "#617079");
}
